*{
    transition: 0.3s ease;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: black;
    transition:0.3s;
    z-index: 1000;
    color: white;
    padding: 15px ;
    height: 80px;
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 5px #7a7a7a94;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
    
}
nav a{  
    text-decoration:none;
    color:#aeadad;
    margin-left:30px;
    font-weight:500;
    letter-spacing: 1px;
    max-width: 100%;
    min-width: 100%;
    flex-wrap: wrap;

}

nav a:hover{
    color:#8B6B4A;
    transition: 0.3s;
    
}

header.shrink {
    padding: 100px 10;}
    
header.shrink h1 {
    font-size: 2.5 rem;
}
.logo {
  text-decoration: none;
  color: inherit;
  font-size: 46px;

}
.logo:visited {
  color: inherit;
}