* {
box-sizing: border-box;
}
body {
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    padding-top: 80px;
    margin: 0;
    width: 100%;

}
nav {
    margin-top: 10px
}
nav a {
   color:whitesmoke;
    margin: 20px;
    font-size:18px;
    letter-spacing: 2px;
    transition:0.5s;
}
nav a:hover{
    color:rgba(244, 244, 77, 0.718);
    text-decoration:underline;
}
.galeria {
    padding: 80px 20px;
}

.fotos {
    display: flex;
    gap: 50px
}

.foto img {
    max-width: 100%;
    height: auto;
} 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 20px;
}
/* ==================== */
/* RESPONSIVIDADE */
/* ==================== */

@media (max-width: 1024px) {

.hero h1 {
font-size: 32px;
}

}

@media (max-width: 768px) {

header {
flex-direction: column;
align-items: center;
}

nav ul {
flex-direction: column;
gap: 10px;
}

.hero h1 {
font-size: 28px;
}

.hero p {
font-size: 16px;
}

section {
padding: 60px 20px;
}

}

@media (max-width: 480px) {

.hero h1 {
font-size: 24px;
}

.hero p {
font-size: 14px;
}

}
@media (max-width: 768px) {

.blog {
flex-direction: column;
}

.container {
flex-direction: column;
}

img {
width: 100%;
height: auto;
}

}